{% extends 'base.html' %}
{% block head %}
<title>Login | linuxitos</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<script>
	$(document).ready(function () {
		var url = "{% url 'posts' %}";
		$(location).attr('href', url);
	});
</script>
{% else %}
	<div class="container mt-5">
		<div class="row mt-5">
			<div class="col-md-12 mt-5">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Inicio</a></li>
						<li class="breadcrumb-item"><a href="{%url 'signup'%}">Registro</a></li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<div class="col-md-5">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title mb-3 text-center">Registro</h5>
						<div class="row justify-content-center align-items-center">
							<div id="div-cnt-msg-signup" class="col-sm-12"></div>
							<div class="col-sm-12">
								<form method="post" id="form-signup" name="form-signup">
									{% csrf_token %}
									<!--{{ form.as_p }}-->
									<div id="div-cnt-signup" class="row justify-content-center align-items-center">
										<div class="col-md-12">
											<div class="form-group input-group mb-3">
												<span class="has-float-label">
													<input class="form-control" type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="off" autofocus=""
														required="required" id="id_username">
													<label for="id_username">Usuario</label>
												</span>
											</div>
										</div>
										<div class="col-md-12 mb-3">
											<div class="form-group input-group">
												<span class="has-float-label">
													<input class="form-control" type="password" name="password1" autocomplete="off" required="required" id="id_password1"
														aria-autocomplete="list">
													<label for="id_password1">Contrañasea</label>
												</span>
											</div>
										</div>
										<div class="col-md-12 mb-3">
											<div class="form-group input-group">
												<span class="has-float-label">
													<input class="form-control" type="password" name="password2" autocomplete="off" required="required" id="id_password2">
													<label for="id_password2">Confirmar contraseña</label>
												</span>
											</div>
										</div>
										<div class="col-md-12 mb-3">
											<button id="btn-signup" type="submit" class="btn btn-success form-signup float-end"><i
													class="bi bi-check-circle"></i> Registrarse</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).on("click", ".form-signup", function (e) {
			$('#btn-signup').attr("disabled", true);
			var parametros = $("#form-signup").serialize();
			$.ajax({
				method: "POST",
				type: "POST",
				dataType: "JSON",
				url: "{% url 'register' %}",
				data: parametros,
				beforeSend: function (objeto) {
					$("#div-cnt-msg-signup").html('<div class="alert alert-info" role="alert">' +
						'<span class="spinner-border spinner-border-sm spin-x" role="status" aria-hidden="true"></span> Validando...' + '</div>');
					$('#btn-signup').html('<span class="spinner-border spinner-border-sm spin-x" role="status" aria-hidden="true"></span> Validando...');
				},
				success: function (response) {
					console.log(response);
					$('#btn-signup').attr("disabled", false);
					//$("#btn-close-del-estab").trigger("click");
					//notify_msg(response.icon, " ", response.msg, "#", response.tipo);
					if (response.tipo == "success") {
						$("#div-cnt-msg-signup").html("");
						$("#form-signup")[0].reset();
						$("#div-cnt-signup").html('<div class="col-12 text-center"><h4><span class="spinner-border spinner-border-sm spin-3x" role="status"></span> <br>Redireccionando...</h4></div>');
						//location.reload();
						//$(location).attr('href', "{% url 'posts' %}");
						setTimeout(function () {
							$(location).attr('href', "{% url 'login' %}");
						}, 3000);
					} else {
						$("#div-cnt-msg-signup").html('<div class="alert alert-' + response.tipo + ' alert-dismissible fade show" role="alert"><i class="' + response.icon + '"></i> ' + response.msg + '</div>');
						$('#btn-signup').html('<i class="bi bi-check-circle"></i> Log In');
						setTimeout(function () {
							$("#div-cnt-msg-signup").html("");
						}, 3000);
					}
				},
				error: function (response) {
					console.log(response);
					$('#btn-signup').attr("disabled", false);
					$('#btn-signup').html('<i class="bi bi-check-circle"></i> Log In');
					$("#div-cnt-msg-signup").html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><i class="bi bi-x-circle"></i> Error interno, intenta más tarde.</div>');
					setTimeout(function () {
						$("#div-cnt-msg-signup").html("");
					}, 3000);
				}
			});
			e.preventDefault();
		});
	</script>
{% endif %}
{% endblock %}
