{% extends "base.html" %}
{% block head %}
	<title>Add post | linuxitos</title>
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
		<div class="container mt-5">
			<div class="row mt-5">
				<div class="col-md-12 mt-5">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Inicio</a></li>
							<li class="breadcrumb-item"><a href="{%url 'posts'%}">Posts</a></li>
							<li class="breadcrumb-item active" aria-current="page">Agregar post</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Agregar nuevo post</h5>
							<div class="row justify-content-center align-items-center">
								<div id="div-cnt-msg-add" class="col-sm-12"></div>
								<div class="col-sm-12">
									<form id="form-add-post" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
										{% csrf_token %}
										<input type="hidden" name="user" id="id_user" readonly="" value="{{user.id}}">
										<div class="row">
											<div class="col-md-3">
												<div id="div-cnt-img-ajx" class="post-image rounded">
													<img src="static/img/post.png" class="" alt="" sizes="(max-width: 272px) 100vw, 272px">
												</div>
												<div class="input-group mb-2 mt-2">
													<input type="file" class="form-control" id="id_img_post" name="img_post" onchange="readURL(this, 'div-cnt-img-ajx');" accept=".png, .jpg, .jpeg">
												</div>
											</div>
											<div class="col-md-9">
												<div class="row">
													<div class="col-6">
														<label for="id_nom_post">Nombre:</label>
														<input type="text" name="nom_post" maxlength="100" class="form-control" required="" id="id_nom_post" autocomplete="off">
													</div>
													<div class="col-6">
														<label for="id_act_post">Estado:</label>
														<select class="form-select" aria-label="Default select example" name="act_post" id="id_act_post" required="">
															<option value="1" selected="">Activo</option>
															<option value="0">Inactivo</option>
														</select>
													</div>
													<div class="col-12">
														<label for="id_desc_post">Descripción:</label>
														<textarea name="desc_post" cols="15" rows="2" class="form-control" required="" id="id_desc_post"></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 mt-2 mb-2">
												<button type="submit" name="contact-submit" class="btn btn-primary float-end" id="btn-register">
													<i class="bi bi-check-circle"></i> Agregar
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<script>
			/*$(document).ready(function () {
				var url = "{% url 'login' %}";
				$(location).attr('href', url);
			});*/
		</script>
	{% endif %}
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#form-add-post").submit(function(e){
				$('#btn-register').attr("disabled", true);
				//var serializedData = $(this).serialize();
				form = $(this)
				var formData = new FormData(this);
				$.ajax({
					method: 	"POST",
					type : 		"POST",
					//processData: false,
					//contentType: false,
					dataType: 	"JSON",
					cache: false,
					contentType: false,
					processData: false,
					url :  		"{% url 'add_post' %}",
					//data : 	serializedData,
					data: 		formData,
					beforeSend: function (objeto) {
						$("#div-cnt-msg-add").html('<div class="alert alert-info" role="alert">' +
							'<span class="spinner-border spinner-border-sm spin-x" role="status" aria-hidden="true"></span> Guardando...' + '</div>');
						$('#btn-register').html('<span class="spinner-border spinner-border-sm spin-x" role="status" aria-hidden="true"></span> Guardando...');
					},
					success : function(response){
						console.log(response);
						$('#btn-register').attr("disabled", false);
						//$("#btn-close-del-estab").trigger("click");
						//notify_msg(response.icon, " ", response.msg, "#", response.tipo);
						if (response.tipo=="success") {
							$("#form-add-post")[0].reset();
							$("#div-cnt-img-ajx").html('<img src="static/img/post.png" class="" alt="" sizes="(max-width: 272px) 100vw, 272px">')
						}
						$("#div-cnt-msg-add").html('<div class="alert alert-' + response.tipo + ' alert-dismissible fade show" role="alert"><i class="' + response.icon + '"></i> ' + response.msg + '</div>');
						$('#btn-register').html('<i class="bi bi-check-circle"></i> Agregar');
						setTimeout(function () {
							$("#div-cnt-msg-add").html("");
						}, 3000);
					},
					error : function(response){
						console.log(response);
						$('#btn-register').attr("disabled", false);
						$('#btn-register').html('<i class="bi bi-x-circle"></i> Agregar');
						$("#div-cnt-msg-add").html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><i class="bi bi-x-circle"></i> Error interno, intenta más tarde.</div>');
						setTimeout(function () {
							$("#div-cnt-msg-add").html("");
						}, 3000);
					}
				});
				e.preventDefault();
			});
		});
		
		function readURL(input, div) {
			var total_files = $(input)[0].files.length;
			$("#" + div).html('');
			for (i = 0; i < total_files; i++) {
				if ($(input)[0].files[i]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						$("#" + div).append('<div class="col-md-12"><img id="img-' + i + '" src="' + e.target.result + '" class="img-fluid"/></div>')
					};
					reader.readAsDataURL(input.files[i]);
				}
			}
		}
	</script>
{% endblock %}