{% extends "base.html" %}
{% block head %}
	<title>Contact Form[FBV]</title>
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
	<div class="container mt-5">
		<div class="row mt-5">
			<div class="col-md-12 mt-5">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<h1 class="text-center display-4">Contact Form[FBV]</h1>
								<p class="lead text-center">This is sample example for integration of AJAX with Django</p>
							</div>
						</div>
						<div class="row justify-content-center align-items-center">
							<div id="div-cnt-msg-add" class="col-sm-12"></div>
							<div class="col-sm-12">
								<form id="contactForm" method="POST">
									{% csrf_token %}
									<div class="row justify-content-center align-items-center">
										<div class="col-6">
											<label for="id_name">Name:</label>
											<input type="text" name="name" maxlength="100" class="form-control" required="" id="id_name">
										</div>
										<div class="col-6">
											<label for="id_email">Email:</label>
											<input type="email" name="email" maxlength="254" class="form-control" required="" id="id_email">
										</div>
										<div class="col-12">
											<label for="id_message">Message:</label>
											<textarea name="message" cols="15" rows="2" class="form-control" required="" id="id_message"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 mt-2 mb-2">
											<button type="submit" name="contact-submit" class="btn btn-primary float-end" id="btn-register">
												<i class="bi bi-check-circle"></i> Agregar
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#contactForm").submit(function(e){
				$('#btn-register').attr("disabled", true);
				var serializedData = $(this).serialize();
				$.ajax({
					method: 	"POST",
					type : 		"POST",
					dataType: 	"JSON",
					url :  		"{% url 'contact_submit' %}",
					data : 		serializedData,
					beforeSend: function (objeto) {
						$("#div-cnt-msg-add").html('<div class="alert alert-info" role="alert">' +
							'<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Guardando...' + '</div>');
						$('#btn-register').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Guardando...');
					},
					success : function(response){
						console.log(response);
						$('#btn-register').attr("disabled", false);
						//$("#btn-close-del-estab").trigger("click");
						//notify_msg(response.icon, " ", response.msg, "#", response.tipo);
						$("#contactForm")[0].reset();
						$("#div-cnt-msg-add").html('<div class="alert alert-' + response.tipo + ' alert-dismissible fade show" role="alert"><i class="' + response.icon + '"></i> ' + response.msg + '</div>');
						$('#btn-register').html('<i class="bi bi-check-circle"></i> Agregar');
						setTimeout(function () {
							$("#div-cnt-msg-add").html("");
						}, 3000);
					},
					error : function(response){
						console.log(response);
						$('#btn-register').attr("disabled", false);
						$('#btn-register').html('<i class="bi bi-x-circle"></i> Agregar');
						$("#div-cnt-msg-add").html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><i class="bi bi-x-circle"></i> Error interno, intenta más tarde.</div>');
						setTimeout(function () {
							$("#div-cnt-msg-add").html("");
						}, 3000);
					}
				});
				e.preventDefault();
			});
		});
	</script>
{% endblock %}