
{% extends "base.html" %}
{% block head %}
	<title>index | linuxitos</title>
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<script type='text/javascript'>
	var start = 0;
	var limit = 9;
	var search = "";
	var action = 'inactive';
</script>
<div class="container mt-5">
	<div class="row mt-5">
		<div class="col-md-12 mt-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page">Inicio</li>
				</ol>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="bg-dark text-secondary px-2 py-1 mb-2 rounded">
				<div class="py-2">
					<h1 class="display-5 text-white text-center">Proyecto con django</h1>
					<div class="col-lg-8 mx-auto">
						<p class="fs-5 mb-4 text-center">
							Primer proyecto con django y fedora. Un proyecto "casi-simple" que incluye las siguientes funciones:
						</p>
						<div class="row">
							<div class="col-4">
								<p>Paquetes usados:</p>
								<ol>
									<li>jquery 3.6.0</li>
									<li>bootstrap 5.0.1</li>
									<li>django 3.2.3</li>
									<li>bootstrap-icon</li>
									<li>bootstrap-notify</li>
								</ol>
							</div>
							<div class="col-8">
								<p>Funciones:</p>
								<div class="row">
									<div class="col-md-6">
										<ul>
											<li>Uso de ajax</li>
											<li>Buscador simple</li>
											<li>Subida de imágenes</li>
											<li>Paginación propia con ajax</li>
											<li>Cargar contenido scroll</li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul>
											<li>Inicio de sesión</li>
											<li>Registro de usuarios</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
							<button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Descargar proyecto</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12 mb-4">
			<!-- content ajax load pagination -->
			<div id="div-cnt-ajax" class="row"></div>
			<div id="pag-temas"></div>
		
			<div class="row" id="div-cnt-content-load"></div>
			<div class="row" id="div-cnt-message-load">
			</div>
		</div>
	</div>

	<!--div id="div-cnt-ajax" class="row">
	{% for post in posts %}
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-2 d-flex">
			<div class="card mb-2">
				<a href="{{'view/'}}{{post.slug_post}}">
					<div class="post-image w-100">
						<img src="{% if post.img_post %} /media/{{post.img_post}} {% else %}static/img/post.png{% endif %}" sizes="(max-width: 172px) 100vw, 172px">
					</div>
				</a>
				<div class="card-body font-weight-bold ">
					<a class="text-dark" href="{{'view/'}}{{post.slug_post}}">
						{{post.nom_post}}
					</a>
				</div>
				<div class="row">
					<div class="col-md-12 px-4">
						<small class="float float-right text-muted">By {{post.user_id}}</small>
						<small class="float-end">{{ post.fc_post | date:"d-M-Y" }}</small>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div-->
</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#div-cnt-message-load').html('');
			function loadScrollArts(limit, start) {
				$.ajax({
					url: 		"loadscroll",
					method: 	"POST",
					dataType: 	"JSON",
					type: 		"POST",
					data: {
						csrfmiddlewaretoken: '{{ csrf_token }}',
						search: search,
						start: start,
						limit: limit,
						order_by: 'id',
						order: '-',
					},
					cache: false,
					success: function (data) {
						$('#div-cnt-content-load').append(data.data);
						if (data.data == '') {
							$('#div-cnt-message-load').html('<div class="col-md-12"><div class="text-center mt-2"><div class="alert alert-info" role="alert">' +
								'<i class="bi bi-info-circle"></i> No hay más elementos para cargar.</div></div></div>');
							action = 'active';
						} else {
							$('#div-cnt-message-load').html('<div class="text-center mt-2 mb-2"><div class="alert alert-info" role="alert"><span class="spinner-border spin-2x align-middle" role="status" aria-hidden="true"></span>' +
								' Cargando más contenido...</div></div>');
							action = "inactive";
						}
					}
				});
			}

			if (action == 'inactive') {
				action = 'active';
				loadScrollArts(limit, start);
			}

			$(window).scroll(function () {
				var scrollHeight = $(document).height();
				var scrollPos = $(window).height() + $(window).scrollTop();
				if (((scrollHeight - 200) >= scrollPos) / scrollHeight == 0 && action == 'inactive') {
					//if ($(window).scrollTop() + $(window).height() > $("#div-cnt-content-load").height() && action == 'inactive') {
					action = 'active';
					start = start + limit;
					setTimeout(function () {
						loadScrollArts(limit, start);
					}, 1000);
				}
			});
		});
	</script>
{% endblock %}
