{% extends "base.html" %}
{% block head %}
	<title>Posts | linuxitos</title>
{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		{% include 'modals.html' %}
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-12 mt-5">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Inicio</a></li>
							<li class="breadcrumb-item active" aria-current="page">Posts</li>
						</ol>
					</nav>
				</div>
			</div>

			<form method="post" enctype="multipart/form-data" accept-charset="utf-8" id="form-search" name="form-search">
				{% csrf_token %}
				<div class="row g-2">
					<div class="col-lg-10 col-md-10 col-sm-10 col-10">
						<div class="input-group mb-3">
							<button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
								<span class="d-none d-md-inline-block bi bi-list-ol"></span> <span id="spn-show-list">10</span>
							</button>
							<div id="select-list" class="dropdown-limit dropdown-menu">
								<a class="dropdown-item" href="#" data-total="10">10</a>
								<a class="dropdown-item" href="#" data-total="20">20</a>
								<a class="dropdown-item" href="#" data-total="30">30</a>
								<a class="dropdown-item" href="#" data-total="40">40</a>
								<a class="dropdown-item" href="#" data-total="50">50</a>
							</div>
							<button id="btn-search-on" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
								<i id="i-icon-act" class="bi bi-check2-circle"></i> <span id="spn-desc-act" class="d-none d-md-inline-block">Activos</span> <span class="visually-hidden">Toggle
									Dropdown</span>
							</button>
							<ul class="dropdown-edo dropdown-menu">
								<li>
									<a class="dropdown-item" href="#" data-desc="Todos" data-icon="bi bi-list-ol" data-edo="2">
										<i class="bi bi-list-ol"></i> Todos
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#" data-desc="Activos" data-icon="bi bi-check2-circle" data-edo="1">
										<i class="bi bi-check2-circle"></i> Activos
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li>
									<a class="dropdown-item" href="#" data-desc="Inactivos" data-icon="bi bi-x-circle" data-edo="0">
										<i class="bi bi-x-circle"></i> Inactivos
									</a>
								</li>
							</ul>
							<input type="text" class="form-control txt-search-nv" name="txt-search" id="txt-search" placeholder="Buscar...">
							<div class="input-group-append">
								<button type="submit" class="btn btn-search-nav" name="btn-search" id="btn-search">
									<i class="bi bi-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-2 d-grid my-auto mt-2">
						<button type="button" class="btn btn-success mdl-add-reg" title="Agregar Sección" data-bs-toggle="modal" data-bs-target="#mdl-add-reg">
							<i class="bi bi-plus-circle"></i> <span class="d-none d-md-inline-block">Agregar</span>
						</button>
					</div>
				</div>
			</form>

			<div class="row">
				<div class="col-md-12">
					<h6 class="float-end" id="h5-cnt-total"></h6>
				</div>
			</div>
			<div class="row">
				<div id="div-cnt-load" class="col-md-12"></div>
				<div id="div-cnt-paginate" class="col-md-12"></div>
			</div>
		</div>
		<script src="{{'static/js/custom.js'}}"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				load(1);
			});
		</script>
	{% else %}
		<script>
			$(document).ready(function () {
				var url = "{% url 'login' %}";
				$(location).attr('href', url);
			});
		</script>
	{% endif %}
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#users").change(function(e){
				e.preventDefault();
				var username = $(this).val();
				var data = {username};
				$.ajax({
					type : 'GET',
					url :  "{% url 'get_user_info' %}",
					data : data,
					success : function(response){
						$("#user_info table tbody").html(`<tr>
							<td>${response.user_info.first_name || "-"}</td>
							<td>${response.user_info.last_name || "-"}</td>
							<td>${response.user_info.email || "-"}</td>
							<td>${response.user_info.is_active}</td>
							<td>${response.user_info.joined}</td>
							</tr>`)
					},
					error : function(response){
						console.log(response)
					}
				})
			})
		})
	</script>
{% endblock %}