{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{% static 'img/fav.png'%}" type="image/x-icon" sizes="16x16" />
		{% block head %}
		{% endblock %}
		<link rel="stylesheet" href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}">
		<link rel="stylesheet" href="{%static 'vendor/bootstrap/css/animate.css'%}">
		<link rel="stylesheet" href="{%static 'vendor/bootstrap-icons/bootstrap-icons.css'%}">
		<link rel="stylesheet" href="{%static 'css/custom.css'%}">
		<!--link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
		{% block style %}
		{% endblock %}
		<script src="{%static 'vendor/jquery/jquery-3.6.0.min.js'%}"></script>
		<!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script-->
	</head>
	<body>
		{% include 'navbar.html' %}
		{% block content %}
		{% endblock %}

		{% block script %}
		{% endblock %}
		<script>
			window.jQuery || document.write('<script src="{%static "vendor/jquery/jquery-3.6.0.min.js"%}"><\/script>')
		</script>
		<script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
		<script src="{%static 'vendor/bootstrap-notify/bootstrap-notify.min.js'%}"></script>
		<script src="{%static 'js/notify-msg.js'%}"></script>
	</body>
</html>